services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./apps/web/src:/app/apps/web/src
      - ./apps/web/public:/app/apps/web/public
      - ./apps/web/plugins:/app/apps/web/plugins
      - ./apps/web/vite.config.ts:/app/apps/web/vite.config.ts
      - ./apps/web/tailwind.config.js:/app/apps/web/tailwind.config.js
    environment:
      - NODE_ENV=development
